* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: relative;
  height: 1rem;
  background: url(../head.png) no-repeat;
  background-size: 100% 100%;
}
header h1 {
  font-size: 0.7018rem;
  color: #fff;
  line-height: 1rem;
}
header h2 {
  position: absolute;
  right: 0.2632rem;
  top: 0;
  line-height: 1.4737rem;
  color: #050A30;
  font-size: 0.2632rem;
}
.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 2736px;
  margin: 0 auto;
  background-color: white;
  padding: 0.0877rem 0.0877rem 0;
}
.mainbox .column {
  flex: 1;
}
.mainbox .column:nth-child(2) {
  flex: 3;
}
.mainbox .choice {
  position: relative;
  display: flex;
  height: 12.2807rem;
  width: 5.2632rem;
  padding: 0.1316rem 0.1316rem 0.3509rem;
  border: 1px solid #050A30;
  margin-bottom: 0.1316rem;
}
.mainbox .blank {
  position: relative;
  display: flex;
  height: 12.2807rem;
  width: 0.0439rem;
  padding: 0.1316rem 0.1316rem 0.3509rem;
  margin-bottom: 0.1316rem;
}
.mainbox .graph {
  position: relative;
  display: flex;
  height: 12.2807rem;
  width: 17.5439rem;
  padding: 0.1316rem 0.1316rem 0.3509rem;
  border: 1px solid #050A30;
  margin-bottom: 0.1316rem;
}
